@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap');

body{
  background-color: rgba(219,212,196);
  font-family: 'Montserrat', sans-serif;
  display: flexbox;
}

div:nth-child(1){
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}