@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap');

body{
  margin:0;
  background-color: rgba(219,212,196);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-transform: uppercase;
}

.logo{
  text-align: center;
  /* border: 1px solid red;  */
}

.container{
  display: flex;
  justify-content: center;
  padding-top: 7vh;
  font-size: 13.28px;
}

.container div{
display: flex;
padding-right: 15px;
}

.container div:nth-child(1){
  /* border: 1px solid red; */
  padding-left: 15px;
}

.container p{
  padding-left: 5px;
}

.container div p a {
  color:black;
  text-decoration: none;
}

.icon{
  width: 30px;
}

h5{
  letter-spacing: 7px;
  padding-top: 7vh;
  margin: 0;
}

img{
  width: 60vh;
}


@media only screen and (max-width: 1024px) {
  img{
    width: 40vh;
  }

  h5{
    /* padding-top: 7vh; */
    letter-spacing: 3px;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  h5{
    /* padding-top: 7vh; */
    letter-spacing: 2px;
    margin: 0;
  }
}

@media only screen and (max-width: 375px) {
 body{
   /* background-color: red; */
   /* display: flex; */
   margin: 0;
   padding: 0;
 }

 img{
  width: 30vh;
}
  h5{
    padding-top: 4vh;
    /* letter-spacing: 2px; */
    margin: 0;
    font-size: 13px;
  }

  .container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    padding: 4vh 8vh;
  }

  .container div{
      padding-right: 0px;
    }
    
    .container div:nth-child(1){
      padding-left: 0px;
    }
    
    .container p{
      padding-left: 0px;
    }

    .container img{
      /* border: 1px solid red; */
      padding-right: 5px;
    }

  }
