@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap');

body{
  margin:0;
  background-color: rgba(219,212,196);
  font-family: 'Montserrat', sans-serif;
}

.disclaimer{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-transform: uppercase;
}

.logo img{
  width: 60vh;
}

.logo{
  text-align: center;
  border: 1px solid blue;
}

.logo h5{
  letter-spacing: 7px;
  padding-top: 7vh;
  margin: 0;
}

.container{
  border: 1px solid green;
  display: flex;
  justify-content: space-around;
  padding: 7vh 330px;
  font-size: 13.28px;
  /* margin: 0 290px; */
  /* border: 1px solid red;  */
}

.contato{
  display: inline-flex;
}

.contato a{
  color:black;
  text-decoration: none; 
}

.icon{
  width: 30px;
  padding-right: 5px;
}

@media only screen and (max-width: 1024px) {
  .disclaimer{
    height: 125vh;
  }

 .logo img{
    width: 50vh;
  }

  .logo h5{
    letter-spacing: 3px;
    font-size: 18px;
  }

  .container{
    padding: 7vh 95px;
    border: 1px solid magenta;
  }

}

@media only screen and (max-width: 768px) {
  .disclaimer{
    height: 250vh;
  }

  .logo h5{
    letter-spacing: 3px;
    font-size: 14px;
  }

  .container{
    padding: 7vh 100px;
    border: 1px solid magenta;
 }

}

@media only screen and (max-width: 375px) {
  .disclaimer{
    height: 230vh;
  }

  .logo img{
    width: 40vh;
  }

  .logo h5{
    letter-spacing: 3px;
    font-size: 12px;
  }

  .container{
    /* padding: 7vh 20px; */
    display: flex;
    flex-direction: column;
    border: 1px solid magenta;
 }

}